<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tkck.monitor.infrastructure.dao.IMonitorDataMapDao">

    <resultMap id="dataMap" type="com.tkck.monitor.infrastructure.po.MonitorDataMap">
        <id column="id" property="id"/>
        <result column="monitor_id" property="monitorId"/>
        <result column="monitor_name" property="monitorName"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>
    <select id="queryMonitorNameByMonitoryId" resultType="java.lang.String" parameterType="java.lang.String">
        select monitor_name from monitor_data_map where monitor_id = #{monitorId}
    </select>
    <select id="queryMonitorDataMapEntityList"
            resultMap="dataMap">
        select monitor_id, monitor_name from monitor_data_map
    </select>

</mapper>